<h2>About</h2>

<p>This a horrifying project that tries to crawl public data to predict upcoming celebrity deaths.</p>

<p>Inspired by <a href="https://deathlist.net/">deathlist.net</a>.</p>

<p>Data taken from <a href="https://en.wikipedia.org">Wikipedia</a> and <a href="https://www.themoviedb.org">The Movie Database</a>.</p>

<p>Source code licenced under MIT. Find it on <a href="https://github.com/RichTeaMan/DeathClock">GitHub</a>.</p>
